.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.carousel__container {
  background-color: #f3f5f8;
  max-width: 85%;
  max-height: 80%;
  width: 100%;
  margin: 0 auto;
  padding: 0 45px 70px;
  border-radius: 40px;
}

.carousel__title {
  font-size: 30px;
  font-family: "Alegreya";
  text-align: center;
  padding-top: 100px;
  margin: 30px 0 0 0;
  padding-bottom: 20px;
}

.carousel__track {
  display: flex;
  gap: 60px;
  overflow: hidden;
  padding-top: 25px;
}

.carousel__slide {
  flex: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
}

.carousel__slide-text {
  font-size: 20px;
  line-height: 1.2;
  flex: 1;
}

.carousel__slide-person-info {
  display: flex;
  column-gap: 12px;
  font-size: 20px;
  font-weight: 700;
}

.carousel__buttons {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.carousel__control {
  background: none;
  border: none;
  font-size: 3rem;
  cursor: pointer;
}

.prev {
  margin-right: 20px;
}
