.nav {
  display: flex;
  column-gap: 30px;
  justify-content: space-around;
}

.nav-title-section {
  margin: 0;
  text-align: center;
}

.nav-title {
  font-size: 60px;
  margin: 0;
}

.nav-subtitle {
  font-size: 20px;
  margin: 0;
  padding: 5px 0;
}

.nav-buttons {
  align-self: center;
}

.main-button {
  font-size: 20px;
  padding: 5px 20px;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
}
